# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Pacotes e Builds (caso adicione bundlers futuramente)
node_modules/
dist/
build/
*.zip
*.crx
*.pem

# Arquivos de Ambiente e Chaves de API
.env
.env.local